
body {
    background-color: black;
    color: white;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
    font-size: 30px;
}

button {
    width: 150px;
    height: 55px;
    border-radius: 15px;
    border: hidden;
    margin: 20px 100px;
    text-align: center;
}

div {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: deepskyblue;
}

a:hover {
    color: deeppink;
    cursor: pointer;
    text-decoration: underline;
}

p {
    text-align: center;
}

.animals {
    flex-direction: column;
}

.hobbies {
    flex-direction: column;
}

.games {
    flex-direction: column;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }
}