
body {
    background-color: black;
    color: white;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
    font-size: 30px;
}

button {
    width: 150px;
    height: 55px;
    border-radius: 15px;
    border: hidden;
    margin: 20px 100px;
    text-align: center;
}

div {
    display: flex;
    align-items: center;
    margin: 5;
    padding: 5;
    opacity: 0.95;
}

a {
    text-decoration: none;
    color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.35;
    text-shadow: 2px 2px blue;
}

a:hover {
    color: deeppink;
    cursor: pointer;
    text-decoration: underline;
    cursor: grab;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    text-align: center;
}

.animals,
.hobbies,
.games {
    flex-direction: column;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }
}